@font-face {
	font-family: 'Futura';
	font-style: normal;
	font-weight: normal;
	src: local('Futura'),
		url('fonts/Futura.woff') format('woff');
}

body, html {
	font-family: Futura;
	text-align: center;
}


#page {
	padding: 10px;
}

.pageContent{
	font-family: Futura;
	margin: auto;
	text-align: center;
	padding: 10px;
}

.pageContent h2, .pageContent h3{
	font-family: Futura;
	font-weight: 300;
}

.pageContent ul{
	font-family: Futura;
	font-weight: 200;
	list-style-position: inside;
	padding: 0px;
	font-size: 1.35em;
	text-align: center;
	padding: 15px;
	list-style-type: none;
}

.techniqueList {
	width: 85%;
	margin: 0px auto 20px auto;
	padding: 5px;
}

.technique {
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.techniqueImg {
	width: 75px;
	height: 75px;
}

.techniqueHomeLogo {
	background: url("img/Brainstormer.png");
	background-size: 100px 100px;
	background-position: center;
	background-repeat: no-repeat;
	padding: 5px;
	margin-top: 50px;
	margin-bottom: 25px;
	height: 100px;
	width: 100px;
	margin-left:auto;
	margin-right: auto;
}

.techniqueHome {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
}
.homeLayout{
	height: 350px;
	margin-top: 20px;
	text-align: left;
	vertical-align: 10%;
	position: relative;
	overflow: hidden;


}
.homeLayout:hover{
overflow: auto;
}

.postItPic {
	background: url("img/NewIcons/photo 2.JPG");
	background-size: 200px 150px;
	background-position: center;
	background-repeat: no-repeat;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 150px;
	width: 200px;
	margin-left:auto;
	margin-right: auto;
}

.postItPic2 {
	background: url("img/NewIcons/photo 1.JPG");
	background-size: 200px 150px;
	background-position: center;
	background-repeat: no-repeat;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 150px;
	width: 200px;
	margin-left:auto;
	margin-right: auto;
}
#bruteThink {
	width: 145px;
	height: 145px;
}

.techniqueDesc {
	margin-top: 10px;
	font-size: 1.35em;
}

.techniqueDesc p {
	margin: 0px;
}

.timerHeader {
	position: absolute;
	left: 7.407407%;
	right: 7.407407%;
	top: 5%;
	bottom: 55%;
}

.timerContainer {
	position: absolute;
	left: 14.814815%;
	right: 14.814815%;
	top: 48%;
	font-size: 4em;
}

.timerDisplay {
	width: 200px;
	margin: auto;
}

.timerButtons {
	width: 25px;
	float: left;
}

.navigationBar{
	position: absolute;
	left: 30px;
	right: 30px;
	bottom: 30px;
}

.iconButton, .iconButton:hover{
	border: 0px;
}


.backButton{
	background: url("img/NewIcons/LeftButton.jpg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	margin: 0px;
	float:left;
}

.backButton:hover, .backButton:focus{
	background: url("img/NewIcons/LeftButton.jpg");
	background-size: 60px 60px;
}

.nextButton{
	background: url("img/NewIcons/RightButtons.jpg");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	margin:0px;
	float: right;
}

.nextButton:hover, .nextButton:focus{
	background: url("img/NewIcons/RightButtons.jpg");
	background-size: 60px 60px;
}

.upButton{
	background: url("img/NewIcons/Up Buttons.jpg");
	background-size: 25px 25px;
	height:25px;
	width: 25px;
	float: left;
	margin-bottom: 30px;
}

.upButton:hover, .upButton:focus{
	background: url("img/NewIcons/Up Buttons.jpg");
	background-size: 25px 25px;
}

.downButton{
	background: url("img/NewIcons/DownButtons.jpg");
	background-size: 25px 25px;
	height:25px;
	width: 25px;
	float: left;
}

.downButton:hover, .downButton:focus{
	background: url("img/NewIcons/DownButtons.jpg");
	background-size: 25px 25px;
}

.restartButton{
	background: url("img/BBB.png");
	background-size: 60px 60px;
	height: 60px;
	width: 60px;
	display: block;
	margin:auto;
}

.restartButton:hover, .restartButton:focus{
	background: url("img/BBB.png");
	background-size: 60px 60px;
}

.inputForm {
	margin: 20px auto 20px auto;
	padding-left: 15px;
	padding-right:15px;
}

.inputSpace {
	margin-top: 10px;
}

.randomWordColor {
	color:#FF8000;
}

.randomWord {
	margin: 20px auto 20px auto;
	font-size: 4em;
	color: #FF8000;
	font-style: 
}

.randomButton {
	font-size: 2em;
}
.homeButton{
	font-size: 2em;
	padding-left: 100px;	
	padding-right: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.finalPageButtons {
	margin:  25px auto 25px auto;
}

.finalPageButton, .finalPageButton:hover, .finalPageButton:focus {
	white-space: normal;
	width: 200px;
	background: #fff;
	color: #000;
	border-color: #000;
	display:block;
	margin: 15px auto 15px auto;
}

/*
body, html {
	height: 100%;
	max-width: 400px;
	font-family: Futura;
}

.btn {
	background: transparent;
	border: 0px;
	color: #000;
}

.btn:hover {
	background: transparent;
	color: #000;
}

.imgLeft {
	margin-left: 100px;
	margin-top: 20px;
}

.arrowButton {
	background: transparent;
	width: 30px;
	height: 30px;
}

.imgRight {
	margin-top: 20px;
}

.inputSpace {
	margin-top: 10px;
}


.topSpace {
	margin-top: 10%;
	text-align: center;
	font-weight: 300;
	font-family: Futura;
}

.centerText {
	text-align: center;
	font-weight: 300;
	margin-top: -5px;
	font-family: Futura;
}

.randomOutput {
	font-weight: 300;
	margin-top: -5px;
	margin-left: 30px;
	font-family: Futura;s
}

.setTime {
	text-align: center;
	font-weight: 200;
	margin-top: 30px;
	margin-bottom: -38px;
	font-family: Futura;
}

.ingredients {
	text-align: center;
	font-weight: 200;
	line-height: 30px;
	margin-top: 10px;
	font-family: Futura;
}

.bottomBar {
	bottom: 0px;
	margin-top: 100px;
}

.bottomBar2 {
	bottom: 0px;
	margin-top: 50px;
}

.timerSetter{
	height: 100px;
	width: 50px;
}

.bottomBar3 {
	margin-top: 150px;
}

.clockSpace {
	margin-top: 40px;
}

.adjustButtons{
	height: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.adjustButton{
	height: 25%;
	padding-top:25px;
	margin-bottom: 15px;
}

.timerDisplay {
	margin-left: 32%;
	font-size: 4em;
	font-weight: 300;
	text-align: left;
	margin-top: 37px;
}

.timerDisplay2 {
	font-size: 4em;
	font-weight: 300;
	text-align: left;
	margin-top: 37px;
}*/