@font-face {
	font-family: 'Futura';
	font-style: normal;
	font-weight: normal;
	src: local('Futura'),
		url('fonts/Futura.woff') format('woff');
}

body, html {
	height: 100%;
	max-width: 400px;
	font-family: Futura;
}

.imgLeft {
	margin-left: 100px;
	margin-top: 20px;
}

.imgRight {
	margin-top: 20px;
}

.inputSpace {
	margin-top: 10px;
}

.displayWindow {
	height: 100%;
			/* IE10 Consumer Preview */ 
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #FFFFFF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #FFFFFF 0%, #FFFFFF 100%);
	color: #00000;
	font-family: Futura;
}

.topSpace {
	margin-top: 10%;
	text-align: center;
	font-weight: 300;
	font-family: Futura;
}

.centerText {
	text-align: center;
	font-weight: 300;
	margin-top: -5px;
	font-family: Futura;
}

.randomOutput {
	font-weight: 300;
	margin-top: -5px;
	margin-left: 30px;
	font-family: Futura;s
}

.setTime {
	text-align: center;
	font-weight: 200;
	margin-top: 30px;
	margin-bottom: -38px;
	font-family: Futura;
}

.ingredients {
	text-align: center;
	font-weight: 200;
	line-height: 30px;
	margin-top: 10px;
	font-family: Futura;
}

.bottomBar {
	bottom: 0px;
	margin-top: 100px;
}

.bottomBar2 {
	bottom: 0px;
	margin-top: 50px;
}

.timerSetter{
	height: 100px;
	width: 50px;
}

.bottomBar3 {
	margin-top: 150px;
}

.clockSpace {
	margin-top: 40px;
}

.adjustButtons{
	height: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.adjustButton{
	height: 25%;
	padding-top:25px;
	margin-bottom: 15px;
}

.timerDisplay {
	margin-left: 32%;
	font-size: 4em;
	font-weight: 300;
	text-align: left;
	margin-top: 37px;
}

.timerDisplay2 {
	font-size: 4em;
	font-weight: 300;
	text-align: left;
	margin-top: 37px;
}